<div class="col-sm-6 col-md-3 lst-box">
<% cache product do %>
  <%= link_to image_tag(product.image_url, class: "img-responsive img-catalog"), product %>
  <h4><%= product.name %></h4></a>
  <p><%= product.description %></p>
  <p><%= product.color %></p>
  <p><strong><%= product.price %></strong></p>

  <% end %>
</div>