<p id="notice"><%= notice %></p>

<p>
  <%= @product.name %>
</p>

<p>
  <%= image_tag(@product.image_url, class: "img-fluid show-img") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Price: £</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit product', edit_product_path(@product) %> |
<%= link_to 'Delete product', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'View all products', products_path %>
