<section class="container-fluid">
  <div class="row">
    <% cache @product do %>
      <p class="lead">
        <%= @product.name %></p>
      <p>
        <%= image_tag(@product.image_url, data_zoom_image: @product.image_url, width: "50%", class: "img-zoom") %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
    <% end %>
    <p>
      <strong>Color:</strong>
      <%= @product.color %>
    </p>
    <p>
      <strong>Price: £</strong>
      <%= @product.price %>
    </p>

    <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>

    <p>
      Average Rating: 
      <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>

    <%= render 'new_comment' %>
    <%= render 'comments' %>

    <%= will_paginate @comments %>



    <hr style="width: 75%;">
    <%= link_to 'Edit product', edit_product_path(@product) %> |
    <%= link_to 'Delete product', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'View all products', products_path %>
  </div>
</section>